/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.editorconfig export-ignore
/.craft.yml export-ignore
# فرض استخدام LF (Unix-style) لجميع الملفات النصية
* text=auto eol=lf

# استثناء ملفات محددة من التحويل (مثل ملفات الصور أو الثنائية)
*.png binary
*.jpg binary
# مثال: فرض LF على ملفات الـ YAML
*.yml text eol=lf